<h2>Show charge</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @charge.email %>
  </li>

  <li>
    <strong>Token:</strong>
    <%= @charge.token %>
  </li>

  <li>
    <strong>Tokentype:</strong>
    <%= @charge.tokenType %>
  </li>

  <li>
    <strong>charge_id:</strong>
    <%= @charge.charge_id %>
  </li>

</ul>

<%= link "Charge index", to: charge_path(@conn, :index) %>
