[class^=bc-] {
  border-style: solid;
}
.bc-green {
  border-color: #61bb46;
}
.bc-yellow {
  border-color: #fdb827;
}
.bc-orange {
  border-color: #f5821f;
}
.bc-red {
  border-color: #e03a3e;
}
.bc-purple {
  border-color: #963d97;
}
.bc-blue {
  border-color: #009ddc;
}
