.gc-green {
  background-color: #61bb46;
}
.gc-yellow {
  background-color: #fdb827;
}
.gc-orange {
  background-color: #f5821f;
}
.gc-red {
  background-color: #e03a3e;
}
.gc-purple {
  background-color: #963d97;
}
.gc-blue {
  background-color: #009ddc;
}
