<h2>Show user</h2>

<ul>

  <li>
    <strong>Github:</strong>
    <%= @user.github_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Avatar url:</strong>
    <%= @user.avatar %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
