<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="name" content="<%= page_name(assigns)%>">
    <meta name="description" content="<%= page_description(assigns)%>">
    <meta name="author" content="Michael Chan @chantastic">

    <title><%= page_title(assigns) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="ff-system-sans xw-60e m-0a p-2">
    <%= if get_flash(@conn, :failure) do %>
      <p class="gc-red7 c-white py-1 px-2" role="alert"><%= get_flash(@conn, :failure) %></p>
    <% end %>

    <%= if get_flash(@conn, :error) do %>
      <p class="gc-red7 c-white py-1 px-2 ta-c" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <%= if get_flash(@conn, :info) do %>
      <p class="gc-blue5 c-white py-1 px-2 ta-c" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>

    <header
      class="mb-3 bc-gray3 bw-0 bs-s d-f ai-c"
      style="border-bottom-width: 1px"
    >
      <div class="fg-1 fs-1 fb-0%">
        <h3
          class="fw-800 c-gray6"
          style="display: inline-block"
        >
          <%= link to: "/", class: "breadcrumb-link c-gray7" do %>
            Learn React
          <% end %>
        </h3>

        <h5
          class="fw-800 c-gray6"
          style="display: inline-block"
        >
          <%= if course_title(assigns) do %>
            <span>&nbsp;/&nbsp;</span>
            <%= link to: course_path(@conn, :show, @course), class: "breadcrumb-link c-gray7" do %>
              <%= course_title(assigns) %>
            <% end %>
          <% end %>

          <%= if lesson_title(assigns) do %>
            <span>&nbsp;/&nbsp;</span>
            <%= link to: lesson_path(@conn, :show, @lesson), class: "breadcrumb-link c-gray7" do %>
              <%= lesson_title(assigns) %>
            <% end %>
          <% end %>
        </h4>
      </div>

      <div style="display: none">
        <%= if @current_user do %>
          <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn" %>
        <% else %>
          <a href="/auth/github" class="btn">Sign in with Github</a>
        <% end %>
      </div>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer
      class="mt-3 pt-3 bw-0 bs-s bc-gray3"
      style="border-top-width: 1px"
    >
      <%= if !@current_user do %>
        <div class="mb-2">
          <%= render "_newsletter.html" %>
        </div>
      <% end %>

      <small class="c-gray5 td-i"><em>&copy; Copyright 2017, Michael Chan</em></small>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <% if Mix.env == :prod do %>
      <%= render "_analytics.html" %>
    <% end %>
  </body>
</html>
