<p>
    You are purchasing <%= @course.title %>
</p>

<%= form_tag course_purchases_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $7.00</span>
    </label>
  </article>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="buy course"
    data-amount="700"
    data-locale="auto"
  ></script>
<% end %>
