.action-btn {
  background-color: blue;
  border-color: blue;
  color: white;
}

.action-btn:hover {
  background-color: darkblue;
  border-color: darkblue;
  color: white;
}

.action-btn:active {
  background-color: black;
  border-color: black;
  color: white;
}
