<h2>Edit lesson</h2>

<%= render "form.html", changeset: @changeset,
                        action: lesson_path(@conn, :update, @lesson) %>

<%= link "View Lesson", to: lesson_path(@conn, :show, @lesson), class: "btn" %>
