<ul class="lst-n pl-0">

<%= for lesson <- @lessons do %>
  <li>
    <%= link to: lesson_path(@conn, :show, lesson), class: "" do %>
      <h4><%= lesson.title %></h4>
    <% end%>
  </li>
<% end %>
</ul>

<%= if @current_user && @current_user.name do %>
  <h6>Hi <%= @current_user.name %></h6>
<% end %>
