<h2><%= @lesson.title %></h2>
<h2>Course: <%= @lesson.course.title %></h2>
<%= link "Course", to: course_path(@conn, :show, @lesson.course) %>

<p>
<%= @lesson.description %>
</p>

<%= raw(@lesson.video_embed) %>

<%= link "Back", to: lesson_path(@conn, :index) %>
