/* This file is for your main application css. */
.xw-30e{max-width:30em}
.xw-60e{max-width:60em}
.m-0a{margin:0 auto}

.breadcrumb-link { text-decoration: none }
.breadcrumb-link:hover { border-bottom: 4px solid }

html {
  -webkit-font-smoothing: antialiased;
}

_:-moz-tree-row(hover), body {
  font-family: 'Avenir Next', helvetica, arial, sans-serif !important
}

@media screen and (min-width: 75em) {
  html { font-size: 20px }
}

@media screen and (min-width: 105em) {
  html { font-size: 24px }
}

@media screen and (min-width: 120em) {
  html { font-size: 28px }
}


.font-size-1{font-size:2.25rem}
.font-size-2{font-size:1.5rem}
.font-size-3{font-size:1.25rem}
.font-size-4{font-size:1rem}
.font-size-5{font-size:.875rem}
.font-size-6{font-size:.75rem}

.length-30e{max-width: 30em}

.lh-2e{line-height:2em}

.text-input {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  padding: 0 1em;
  border-width: 1px;
  border-style: solid;
}

.fb-0\%{flex-basis:0%}
