<div class="f-l w-50%@mn w-25%@md w-20%@lg p-1">
  <%= link_to lesson, class: "d-b c-black td-n td-u:h", title: "#{lesson.title} on learnreact.com" do %>
    <div style="height: 175px;" class="ow-1p p-2">
      <%= lesson.title %>
    </div>
  <% end %>
</div>
