<div class="fl w-50 w-25-m w-20-l pa2">
  <%= link_to course, class: "db link dim black", title: "#{course.title} on learnreact.com" do %>
    <div class="w-100 db outline black-10">
      <%= embedded_svg(course.cover, size: "100%") %>
    </div>
    <dl class="mt2 f6 lh-copy">
      <dt class="clip">Title</dt>
      <dd class="ml0 fw9"><%= course.title %></dd>
      <dt class="clip">Description</dt>
      <dd class="ml0 gray"><%= course.title %></dd>
    </dl>
  <% end %>
</div>
