body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}

.buy-btn {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 3px;
  background: #f3d078;
  background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
}

.buy-btn:hover {
  border-color: #a88734 #9c7e31 #846a29;
  background: #f1c860;
  background: -webkit-linear-gradient(top,#f5d78e,#eeb933);
  background: linear-gradient(to bottom,#f5d78e,#eeb933);
}

.buy-btn:active {
  box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
  background-color: #f0c14b;
  background-image: none;
}

.buy-btn:focus {
  border-color: #e77600;
  outline: 0;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

.buy-btn:hover:focus {
  border-color: #a88734 #8c7e31 #846a29;
}
