<ul class="lst-n pl-0" style="margin-top: 2rem">
  <%= for course <- @courses do %>
    <li style="margin-top: 2rem; margin-bottom: 2rem">
      <h4><%= course.title %></h4>

      <ul class="lst-n pl-0">
      <%= for lesson <- course.lessons do %>
        <li>
          <%= link to: lesson_path(@conn, :show, lesson), class: "" do %>
            <h4><%= lesson.title %></h4>
          <% end%>
        </li>
      <% end %>
      </ul>
    </li>
    <hr />
  <% end %>
</ul>
