<h2><%= @course.title %></h2>

<p><%= @course.description %></p>

<ul class="lst-n pl-0">
<%= for lesson <- @course.lessons do %>
  <li>
    <%= link to: lesson_path(@conn, :show, lesson), class: "" do %>
      <h4><%= lesson.title %></h4>
    <% end%>
  </li>
<% end %>
</ul>

<%= link "Back", to: course_path(@conn, :index) %>
