<h2><%= @course.title %></h2>

<p class="xw-30e"><%= @course.description %></p>

<%= render LearnReact.CourseLessonView, "index.html", conn: @conn, course: @course %>

<p class="xw-30e">You bought this course <%= Timex.format!(@purchase.inserted_at, "{Mfull} {D}, {YYYY}") %></p>

<%= if User.is_chan(@current_user) do %>
  <%= link "Edit", to: course_path(@conn, :edit, @course), class: "#{Minions.admin_only_btn} mr-1" %>
<% end %>
