@import "./colors";

.buy-btn {
  background-color: map-get($colors, red);
  color: map-get($colors, white);
  outline-color: map-get($colors, red-);
}
.buy-btn:hover {
  background-color: map-get($colors, red-);
  color: map-get($colors, white);
  outline-color: map-get($colors, red-);
}
.buy-btn:active {
  background-color: darkorange;
  rolor: black;
  outline-color: black;
}
// .buy-btn:focus {}
// .buy-btn:hover:focus {}
