@import "./colors";

[class^=bc-] {
  border-style: solid;
}

@each $color, $hex in $colors {
  .c-#{$color} {
    color: $hex;
  }
  .bc-#{$color} {
    border-color: $hex;
  }
  .gc-#{$color} {
    background-color: $hex;
  }
}
