$colors: (
  white: #fff,
  white0: #fff,
  white1: #eee,
  white2: #ddd,
  white3: #ccc,
  white4: #aaa,
  white5: #999,
  white6: #888,
  white7: #777,
  green: #61bb46,
  green-: #4e9e35,
  yellow: #fdb827,
  yellow-: #e6a00b,
  orange: #f5821f,
  orange-: #e86f07,
  red: #e03a3e,
  red-: #cc2d31,
  purple: #963d97,
  purple-: #753975,
  blue: #009ddc,
  blue-: #0889bd,
  black: #000,
  black0: #000,
  black1: #111,
  black2: #222,
  black3: #333,
  black4: #444,
  black5: #555,
  black6: #666,
  black7: #777
);

[class^=bc-] {
  border-style: solid;
}

@each $color, $hex in $colors {
  .c-#{$color} {
    color: $hex;
  }
  .bc-#{$color} {
    border-color: $hex;
  }
  .gc-#{$color} {
    background-color: $hex;
  }
}
